<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팜스토리::농작물이야기</title>
    <link rel="stylesheet" href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
    	<th:block th:include="/_header.html"></th:block>
	        <div id="sub">
	            <section class="cate3">
	                <article>
	                    <!-- 내용 시작 -->
	
	
	                    <!-- 내용 끝 -->
	
	                </article>
	            </section>
	
	        </div>
		<th:block th:include="/_footer.html"></th:block>        
    </div>    
</body>
</html>